/* general HTML styling */
html{
  scroll-behavior:smooth
}

/* || Main styling || */
/* navigation bar styling */
.navbar-brand{
  margin: 0px;
}

.navtitle{
  margin: 0;
  padding: 0;
  padding-left: 5px;
  vertical-align: middle;
  font-weight: 400;
  font-size: x-large;
  text-decoration: none;
  color: black;
}
.navtitle:hover{
  color: gray;
  text-decoration: none;
}

.navbar-brand img{
  display: inline-block;
  height: inherit;
}

.navbar-toggler{
  padding: 0px;
}

.navbar-nav{
  padding-left: 10px;
}

#epibayes-logo {
  height: 50px;
  /* width: 52px; */
}

/* styling footer */
footer{
  background-color: #f8f9fa;
}

.footeritems{
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 10px;
  font-weight: 500;
  font-style: italic;
}

.sphpic{
  margin:0;
  padding: 0;
}

.sphiconrow{
  padding-top: 10px;
}

#sphlogo{
  vertical-align: center;
  width: 52px;
}

.footerbuildmaintain{
  vertical-align: center;
}

.footertext{
  margin:0;
  padding:0;
}

/* row styling */
.row{
  width: inherit;
  padding: 0px;
  margin: 0px;
}

/* adding a top padding to the container */
.container-fluid{
  padding-top:10px;
}

.fa-info-circle{
  color:	#0275d8;
}

/* || INDEX.html || */
/* map styling */
#map, #mapbox-legend { 
  position: relative;
  top: 0px;
  /* left: 10px; */
  width: 100%;
  height: 500px;
}

.mapboxgl-popup{
  max-width: 350px !important;
  /* width: 500px !important; */
}


/* map div styling */
.mapcol{
  padding: 0px;
  margin: 0px;
}

.mapandbuttons{
  margin: 0px;
  padding: 0px;

}


/* style daterangepick stuff */
.drprow{
  padding: 10px 0px;
}
.drpdesc{
  font-size: 11pt;
  font-weight: 500;
  cursor: pointer;
}

/* button styling */
#toggle-count-rate, #toggle-probable-cases{
  margin: 0px !important;
  /* padding: 0px !important; */
}

.updated{
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  color: gray;
  cursor: default;
}

.buildlogo, .buildtext{
  margin: 0;
  padding: 0;
}

.buildtext{
  color: gray;
}

/* style radios under map */
.mapradios{
  padding: 0;
  margin: 0;
}

.radiocol{
  margin: 0;
  padding: 0;
  
}

.form-check-input{
  vertical-align: center;
}

.form-check-label{
  padding: 0px 5px;
  padding-right: 10px;
}

.radioset{
  padding: 0;
  margin: 0;
  padding: 10px 0px;

}
/* styling info buttons */
.infobutton{
  width: 16px;
  padding: 0;
  margin: 0;
}
.iconrow{
  padding: 0;
  margin-top: -10px;
}

.iconcol{
  padding: 0;
  margin-top: -10px;
}

/* switch styling */
.switches{
  padding: 10px 0px;
}

.switchcol{
  padding: 0;
  vertical-align: center;
}
.switchlabel{
  font-size: 10pt;
  margin: 0;
  padding: 0;
  padding: 6px;
  background-color:white;
  color: gray;
  border-color: gray;
}

.switchlabel:hover, .switchlabel:active, .switchlabel:focus{
  background-color: gray !important;
  border-color: gray !important;
}

.switchlabel.active{
  background-color: #002F63 !important;
}

#select-case-rate, #select-case-count, #select-cp, #select-c {
  display: none;
}

/* style embeddable div elements */
.embedmapbutton{
  margin: 0;
  padding: 0;
}

.embedmap{
  margin: 0;
  padding: 0;
}

#copyButton{
  display: none;
}


/* styling the iframe code elements */
.iframecode, .iframeelement{
  margin: 0;
  padding: 0;
}

#embeddable{
  display: none;
  border: 1px solid #e8e8e8;
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}

textarea{
  width: 0;
  height: 0;
}

/* styling the h1 div that contains the total number of cases */
.casesovertime{
  margin: 0;
  padding: 0;
}

#total{
  line-height: 30px;
  padding-bottom: 10px;
  margin: 0;
}

/* style the dropdown button for linechart */
.dropdowns{
  padding: 10px 0px;
}
.dropdown-item{
  cursor: pointer;
}

/* style linechart div elements*/
.linechartdiv{
  margin: 0;
  padding: 0;
}

/* style the goal text paragraph */
#ourgoal{
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

/* style covidfacts row */
.covidfacts{
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
}

/* style top rows in the facts etc section */
.transmitfacts, .whatcanwelearn{
  padding-top: 10px;
}

/* adjust margins on cols */
.leftelements, .rightelements, .covidtransmit, .covidnumbers, .contactinfo{
  margin: 0;
  padding: 0;
}

/* adding back padding on left elements */
.leftelements{
  padding-right: 12px;
}

/* style the h6 elements */
h6{
  color: gray;
}

/* adding a bottom padding to the final row in the index page */
.contactdetails{
  margin:0;
  padding:0;
  width:100%;
  border-top: 1px solid #e8e8e8;
}

.contactus{
  margin:0;
  padding: 0;
  width: 100%;
  background-color: #f8f9fa;

}
.contactus h3{
  margin-top:10px;
}

/* styling paragraphs in timeline */
.timelineexplanation{
  text-indent: 2.0em;
}

/* styling the case chart */
.daily-cases, .daily-symptoms {
  fill: none;
  stroke-width: 2;
}

.daily-symptoms {
  stroke: #08519C;
}

.daily-cases {
  stroke: #00274C;
}

/* styling popup */
.mapboxgl-popup-content{
  padding: 15px 10px 10px 10px;
}
.popupdetails{
  padding: 0px;
  margin: 0px;
}

.popupdetails thead{
  padding-top: 5px;
}

.headingrow{
  padding-top: 10px;
}

.popupdetails thead tr th{
  padding-top: 5px;
}

#popup-header{
  line-height: 8pt !important;
  font-size: 8pt !important;
}

/* daterangepicker related styles */
.drpbutton{
  vertical-align: baseline;
  margin: 0px 10px;
}

.fa-calendar{
  color:white;
  padding: 0px 5px;
}

/* || TEAM.html || */
/* style h4 elements */
h4{
  color: gray;
}

/* styling h5 elements */
h5{
  margin: 0px;
}

/* column margin resetter */
.photodiv, .descdiv{
  margin: 0;
  padding: 0;
}

/* adding back padding to the description div */
.descdiv{
  padding-left: 15px;
}

/* add top padding to photo div */
.photodiv{
  padding-top:5px;
}

/* adding buffers to each profile */
.teammember{
  padding: 15px 0px;
}

/* setting a uniform width for photos */
.teamphoto{
  width: 90%;
}

/* || TIMELINE.html || */
/* adding margin to the timeline and text */
#timeline, .timeline-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bar {
  fill: #5CBDCA;
}

.avgLine {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  /*clip line with rectangle */
  clip-path: url(#clip);
}

.axis, #ylabel {
  font-size: 0.35em;
}

/* Text Related Stuff */
.milestone {
  stroke: lightgray;
  stroke-width: 1;
}

text .milestone-text{
  background-color: white !important;
}

.milestone-text {
  font-size: 0.355em;
  line-height: 0.5em;
  font-weight: 400;
}

.rect {
  fill: #e6e9eb;
}

.rect-text {
  font-size: 0.55em;
  font-weight: 500;
}

.end {
  text-anchor: end;
}

/* || STORYMAP.html || */
#storymappage h1{
  font-size: 24pt;
}
#storymappage h2{
  font-size: 20pt;
}
#storymappage h3{
  font-size: 16pt;
}
#storymappage .light p{
  font-size: 12pt;
}
.scrollybody {
  margin:0; 
  padding:0; 
  font-family: sans-serif;
}
#storymappage .scrollylink a, a:hover, a:visited {
  color: #0071bc;
}
#scrollymap {
  top:0; 
  height: 100vh;
  width:100vw;
  position: fixed;
  z-index: -5;
}
#scrollyheader {
  margin: 3vh auto;
  width: 90vw;
  padding: 2vh;
  text-align: center;
}
#scrollyfooter {
  width: 100%;
  min-height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}
#scrollyfeatures {
  padding-top: 10vh;
  padding-bottom: 10vh;
  z-index: 100;
}
.scrollycentered {
  width: 50vw;
  margin: 0 auto;
}
.scrollylefty {
  width: 33vw;
  margin-left: 5vw;
}
.scrollyrighty {
  width: 33vw;
  margin-left: 62vw;
}
.light {
  color: #444;
  background-color: #fafafa;
}
.scrollydark {
  color: #fafafa;
  background-color: #444;
}
.step {
  margin-bottom: 50vh;
  /* margin-bottom: 10vh; */
  opacity: 0.25;
  border: 1px solid lightgray;
}
.step.active {
  opacity: 0.9;
}

.step div {
  padding:  25px 50px;
  line-height: 25px;
  font-size: 13px;
}

.step img {
  width: 100%;
}

.scrollymodal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid lightgray;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.scrollymodalheader{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: red;
}
.scrollyclose{
  padding: 10px;
  color: white;
  cursor: pointer;
}
.scrollymodalcontents{
  background-color:white;
  margin: 5px;
}
.scrollymodalcontents p{
  text-align: center;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 10pt;
}

@media (max-width: 750px) {
  #scrollyfeatures {
      width: 90vw;
      margin: 0 auto;
  }
}

/* ||MISYMPTOMS.html|| */
/* remove col paddings */
.mainitems, .msmap, .allabout, .gettingnumbers, .leftsections, .rightsections, .numberstell, .numbersdonttell, .mimapcontrols, .col-md-12, .midrpcol, .slidercol{
  padding: 0px;
  margin: 0px;
}
/* add top border to abouttext section */
.abouttext{
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e8e8e8;
}
/* add padding back to left section */
.leftsections{
  padding-right: 10px;
}
/* add padding back to right section */
.rightsections{
  padding-left: 10px;
}

/* add padding to top of covidlists + style */
.twolists{
  padding-top: 10px;
  background-color: #F9FBFD;
}
/* remove col paddings from covid list */
.covidlist{
  padding: 0;
  margin: 0;
}

/* making left paddings smaller on ULs */
.covidul{
  padding-left: 30px;
}
/* style headings for lists */
.listheading{
  font-size: 12pt;
  padding-bottom: 5px;
}

/* adding buffer to map */
.misymptomsmap{
  padding-bottom: 10px;
}

/* styling the map for the misymptoms page */
.misymptomspage #map{
  /* height: 525px; */
  height: 100%;
}
/* removing left padding from msslider */
.msslider{
  padding-left: 0;
}
/* adding padding to map and buttons */
.mimapcontrols{
  padding: 10px 0px;
}
/* remove padding for dropdown col */
.midrop{
  padding: 0;
}
.misymptomspage .dropdowncol{
  padding: 0;
}
/* adding padding to wherearewe row */
.wherearewe{
  padding: 5px 0px;
  background-color: #f0f6fb;
  margin-bottom: 10px;
}
.gettingnumbers{
  padding: 0px 5px;
}
/* styling the wherearewe items */
.whereheading{
  font-size: 16pt;
}
.wherep{
  font-size: 11pt;
  margin: 0;
  padding: 0;
}
.whereli{
  font-size: 10pt;
}
.misymphead{
  padding: 0px 5px;
}
.aboutmisym{
  padding: 5px !important;
}
/* .themisym{
  padding-bottom: 20px;
} */

/* removing padding to the miCPtotals div */
.miCPtotals{
  padding: 0;
}
/* tri-state radio button */
#response-total, #response-covid, #response-proportion{
  display: none;
}

/* ||  DISPARITIES.HTML  || */
/* .disparities-img{
  width: inherit;
}
.pdf{
  width: inherit;
  height: 700px;
} */

.incidencerow{
  padding-bottom:15px;
}

.topcol{
  background-color: #231f20 !important;
  margin: 0;
  padding: 10px;
  color: white !important;
}

.disparitiestitle{
  margin: 0;
  padding: 0;
}

.sidelinecharts{
  height:inherit;
}
.subheadercol{
  margin: 0;
  padding: 0;
}

.subheading{
  margin: 0;
  padding: 5px 10px 10px 5px;
  font-size: 22px;
  font-weight: bold;
}

.headertextcol{
  margin:0;
  padding:0;
  padding-left: 10px;
  padding-right: 80px;
  background-color: #ff7c3c;
  clip-path: polygon(90% 0, 100% 48%, 90% 100%, 0 100%, 0 0);
  -webkit-clip-path:polygon(90% 0, 100% 48%, 90% 100%, 0 100%, 0 0);
}

.charts{
  width:100%;
  vertical-align: center !important;
  padding: 10px;
  margin: 5px;
}

#gingerchart{
  margin:0;
  padding: 0;
}

.linegraphrow{
  padding: 0px;
}

.linegraphcol{
    margin:0;
    padding:0;
}

.charttitle{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    /* padding-bottom: 5px;
    padding-top:5px; */
}

#donutsectiontitle{
  font-size: 26px;
  padding-bottom: 10px;
}
.imgandtextfloat{
  /* position: relative; */
  padding-top:10px;
  padding-bottom: 10px;
}

#cfrstandardizedexplainer{
  margin:0;
  padding:0;
  font-weight: 500;
  font-size: 16px;
  /* position: absolute;
  top: 12px;
  right: 16px;
  width: 500px; */
  background-color: white;
}

.blackid{
  font-weight: bold;
  color: #ed7d31;
}

.whiteid{
  font-weight: bold;
  color: #180086;
}

.APIAid{
  font-weight: bold;
  color:#ff0000;
}

.latinoid{
  font-weight: bold;
  color: #f05856;
}

.nativeid{
  font-weight: bold;
  color: #b12a90;
}

.otherid{
  font-weight: bold;
  color: #6a00a8;
}

.datasource{
  margin:0;
  padding:0;
  padding-bottom:5px;
  padding-right: 5px;
  font-size:11px;
  font-weight:500;
}

.darkcharttitle{
  /* margin: 10px; */
  padding: 5px;
  color: white;
  background-color: black;
}

.imgandtext{
  background-color: black;
  padding: 10px
}

.gingerfloat{
  margin:10px;
  padding:10px;
}

.gingerexplain{
  margin:0;
  padding:0;
  background-color:black;
  color: white;
}

.gingericon{
  height: 20px;
  vertical-align: center;
}

.sidegraphrow{
  margin:0;
  padding:0;
}

.sidegraphcol{
  margin:0;
  padding:0;
}

.sideheader{
  font-size: 18px;
  margin:0;
  padding:0;
  /* position: absolute;
  top: 20px;
  left: 0px;
  right: 0px; */
}

#standardized{
  display: inline-block;
  width: 50px;
  border-bottom: 3px solid black;
}

#unstandardized{
  display: inline-block;
  width: 50px;
  border-bottom: 3px dashed  black;
}

.linelabel{
  display: inline-block;
}
.verticalchart{
  /* width: 100%; */
  width: 100%;
  /* height: 90% !important; */
}

.legendimg{
  width: 70%;
}

#bwincidenceexplainer, #wlincidenceexplainer{
  margin:0;
  padding:0;
  font-weight: 500;
  font-size: 16px;
  /* font-style: italic; */

  /* position: absolute; */
  /* top: 70px;
  right: 200px;
  width: 300px; */
  /* background-color: white; */
}

.donutcol{
  background-color:black;
  color: white;
  padding-left:10px;
  padding-right:10px;
}

.donutlabel{
  font-size: 18px;
  color: lightgray;
}

.donut{
  width: 100%;
  margin:5px;
}

.racedonutcol{
  margin:0;
  padding:0;
}

.donutgroup{
  /* padding: 10px; */
  width: inherit;
}

.donutgraphcol{
  padding:0;
  margin:0;
  padding-left: 3px;
  padding-right: 3px;
}

#topdonutexp{
  font-weight:bold;
  color: #ffc000;
}

#bottomdonutexp{
  font-weight: bold;
  color:#f05856;
}

.darksource{
  color: white;
}

.gingerbreadrow{
  background-color: black;
}

.creditcol{
  background-color: #e7e6e6;
}

.credit{
  margin:0;
  padding:0;
  padding: 5px;
  font-weight: bold;

}
.topcol{
  background-color: black;
}

.introcol{
  /* background-color:#ff7c3c; */
  /* background-color: #C5DECD; */
  background-color: #FCF6B1;
  /* background-color: black; */
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.introhd{
  padding: 10px;
  margin: 0;
  /* color: white; */
  color: black;
  font-weight: 500;
  font-style: italic;
}

.disparity, .incidence, .fatality, .standardized{
  font-weight: 700;
  color: #006992;
}

.definitionsdiv{
  padding: 15px;
  /* color: white; */
  color: black;
  font-weight: 500;
}

.note{
  color: white;
}

#disparitiespg svg{
  padding: 10px;
}

.wavelabel{
  font-size: 18px;
  color: white;
}

#black_w1_label, #black_w2_label,
#api_w1_label,#api_w2_label,
#white_w1_label, #white_w2_label,
#latino_w1_label,#latino_w2_label,
#other_w1_label,#other_w2_label{
  font-weight: 700;
  font-size: 12px;
}

.racelabelgingers{
  padding: 10px 0px 10px 0px;
}
#gingerbutton > *{
  font-size: 18px;
  font-weight: 00;
  padding: 15px;
}
/* ||adjustments based on screen size|| */
/* (for disparities page) */
/* ||XS DEVICES|| */
@media (max-width:600px){
  .incidencechartcol{
    margin:0;
    padding:0;
  }  
  .imgandtextfloat{
    position: inherit;
    margin:0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #bwincidenceexplainer, #wlincidenceexplainer, #cfrstandardizedexplainer, .sideheader{
    position: initial;
    width: 100%;
  }

  #cfrstandardizedexplainer{
    padding-top: 10px;
  }

  #bwincidenceexplainer, #wlincidenceexplainer{
    padding-bottom: 5px;
  }
  .subheading{
    font-size: 20px;
  }

  .sideheader{
    font-size: 20px;
  }


}

/* ||S DEVICES|| */
@media (min-width:600px){
  .imgandtextfloat{
    position: inherit;
    margin:0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #bwincidenceexplainer, #wlincidenceexplainer, #cfrstandardizedexplainer, .sideheader{
    position: initial;
    width: 100%;
  }

  #cfrstandardizedexplainer{
    padding-top: 10px;
  }
  #bwincidenceexplainer, #wlincidenceexplainer{
    padding-bottom: 5px;
  }
  .sideheader{
    font-size: 32px;
  }
}

/* ||M DEVICES|| */
@media (min-width:768px){
  .sideheader{
    font-size: 24px;
  }
}

/* ||L DEVICES|| */
@media (min-width: 992px){
  .topcol, .incidencechartcol, .linegraphcol, .gingerbreadcol, .creditcol{
    padding-left: 15px;
    padding-right: 15px;
  }  


  #bwincidenceexplainer, #wlincidenceexplainer{
    margin:auto;
    padding:auto;
    font-weight: 500;
    font-size: 16px;
    /* font-style: italic; */
    /* position: absolute; */
    /* top: 0;
    left: 0;
    right: 0;
    width: 280px; */
    background-color: none !important;
  }

  .sideheader{
    font-size: 18px;
    margin:0;
    padding:0;
    /* position: absolute; */
    /* top: 10px;
    left: 0px;
    right: 0px; */
  }
  
  #cfrstandardizedexplainer{
    margin:0;
    padding:0;
    font-weight: 500;
    font-size: 15px;
    /* position: absolute; */
    /* top: 12px;
    right: 0px;
    width: 500px; */
    background-color: white;
  }
}

/* ||XL DEVICES|| */
@media (min-width: 1200px){
  #cfrstandardizedexplainer{
    margin:0;
    padding:0;
    font-weight: 500;
    font-size: 20px;
    /* position: absolute; */
    /* top: 18px;
    right: 16px;
    width: 500px; */
    background-color: white;
  }

  #bwincidenceexplainer, #wlincidenceexplainer{
    margin:auto;
    padding:auto;
    font-weight: 500;
    font-size: 16px;
    /* position: absolute; */
    /* top: 50px;
    right: 0;
    left:0;
    width: 350px; */
    /* background-color: white; */
  }

}
/* ||SUPER XL DEVICES|| */
@media (min-width: 1400px){
  #cfrstandardizedexplainer{
    margin:0;
    padding:0;
    font-weight: 500;
    font-size: 20px;
    /* position: absolute; */
    /* top: 18px;
    right: 16px;
    width: 500px; */
    background-color: white;
  }

  #bwincidenceexplainer, #wlincidenceexplainer{
    margin:0;
    padding:0;
    font-weight: 500;
    font-size: 16px;
    /* position: absolute; */
    /* top: 70px;
    left: 240px;
    width: 350px; */
    /* background-color: white; */
  }

}

/* || media rules || */
@media (max-width: 576px){
  .CPtotals{
    margin:0;
    padding: 0;
    padding-top: 10px;
  }
  .cumulativevis, .goaltext, .whatcanwelearn, .covidlearn, .msslider, .drpcol, .CPtotals, .drpdwncol{
    padding: 0;
    margin: 0;
  }
  .leftsections, .rightsections{
    padding: 0px;
  }
  #total{
    padding-top: 10px;
  }
}

@media screen and (max-width: 624px) {
    #website-nav {padding-left: 64px;}
}