
/* || Main styling || */
/* navigation bar styling */
.navbar-brand{
  margin: 0px;
}

.navtitle{
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-weight: 400;
  font-size: x-large;
}

.navbar-brand img{
  display: inline-block;
  height: inherit;
}

.navbar-toggler{
  padding: 0px;
}

.navbar-nav{
  padding-left: 10px;
}

#epibayes-logo {
  height: 50px;
  width: 52px;
}

/* styling footer */
footer{
  background-color: #f8f9fa;
}

.footeritems{
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 10px;
  font-weight: 500;
  font-style: italic;
}

.sphpic{
  margin:0;
  padding: 0;
}

.sphiconrow{
  padding-top: 10px;
}

#sphlogo{
  vertical-align: center;
  width: 52px;
}

.footerbuildmaintain{
  vertical-align: center;
}

.footertext{
  margin:0;
  padding:0;
}

/* row styling */
.row{
  width: inherit;
  padding: 0px;
  margin: 0px;
}

/* adding a top padding to the container */
.container-fluid{
  padding-top:5px;
}

/* || INDEX.html || */
/* map styling */
#map, #mapbox-legend { 
  position: relative;
  top: 0px;
  /* left: 10px; */
  width: 100%;
  height: 500px;
}

/* map div styling */
.mapcol{
  padding: 0px;
  margin: 0px;
}

.mapandbuttons{
  margin: 0px;
  padding: 0px;

}

/* button styling */
#toggle-count-rate, #toggle-probable-cases{
  margin: 0px !important;
  /* padding: 0px !important; */
}

/* delete this */
/* .mapbuttons{
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
} */

.updated{
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  color: gray;
  cursor: default;
}

.buildlogo, .buildtext{
  margin: 0;
  padding: 0;
}

.buildtext{
  color: gray;
}

/* style radios under map */
.mapradios{
  padding: 0;
  margin: 0;
}

.form-check-input{
  vertical-align: center;
}

.form-check-label{
  padding: 0px 5px;
  padding-right: 10px;
}

.radioset{
  padding: 0;
  margin: 0;
  padding: 10px 0px;
}

/* style embeddable div elements */
.embedmapbutton{
  margin: 0;
  padding: 0;
}

.embedmap{
  margin: 0;
  padding: 0;
}

#copyButton{
  display: none;
}

/* styling the iframe code elements */
.iframecode, .iframeelement{
  margin: 0;
  padding: 0;
}

#embeddable{
  display: none;
  border: 1px solid #e8e8e8;
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}

textarea{
  width: 0;
  height: 0;
}

/* styling the h1 div that contains the total number of cases */
.casesovertime{
  margin: 0;
  padding: 0;
}

#total{
  line-height: 30px;
  padding-bottom: 10px;
  margin: 0;
}

/* DELETE */
/* styling radio div elements */
/* .radios{
  margin: 0;
  padding: 25px 0;
} */

/* .custom-radio{
  margin-right: 10px;
} */

/* style the dropdown button for linechart */
.dropdowns{
  margin: 0;
  padding: 0;
  padding: 10px 0px;
}

.dropdowns .col-sm-12{
  padding: 0;
  margin: 0;
}

/* style linechart div elements*/
.linechartdiv{
  margin: 0;
  padding: 0;
}

/* style the goal text paragraph */
#ourgoal{
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

/* style covidfacts row */
.covidfacts{
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
}

/* style top rows in the facts etc section */
.transmitfacts, .whatcanwelearn{
  padding-top: 10px;
}

/* adjust margins on cols */
.leftelements, .rightelements, .covidtransmit, .covidnumbers, .contactinfo{
  margin: 0;
  padding: 0;
}

/* adding back padding on left elements */
.leftelements{
  padding-right: 12px;
}

/* style the h6 elements */
h6{
  color: gray;
}

/* adding a bottom padding to the final row in the index page */
.contactdetails{
  margin:0;
  padding:0;
  width:100%;
  border-top: 1px solid #e8e8e8;
}

.contactus{
  margin:0;
  padding: 0;
  width: 100%;
  background-color: #f8f9fa;

}
.contactus h3{
  margin-top:10px;
}

/* styling paragraphs in timeline */
.timelineexplanation{
  text-indent: 2.0em;
}

/* styling the case chart */
.daily-cases {
  fill: none;
  stroke: #00274C;
  stroke-width: 2;
}

.daily {
  stroke: #00274C;
  stroke-width: 2;
}
/* styling popup */
.mapboxgl-popup-content{
  padding: 15px 10px 10px 10px;
}
.popupdetails{
  padding: 0px;
  margin: 0px;
}

.popupdetails thead{
  padding-top: 5px;
}

.headingrow{
  padding-top: 10px;
}

.popupdetails thead tr th{
  padding-top: 5px;
}

#popup-header{
  line-height: 8pt !important;
  font-size: 8pt !important;
}

/* || TEAM.html || */
/* style h4 elements */
h4{
  color: gray;
}

/* styling h5 elements */
h5{
  margin: 0px;
}

/* column margin resetter */
.photodiv, .descdiv{
  margin: 0;
  padding: 0;
}

/* adding back padding to the description div */
.descdiv{
  padding-left: 15px;
}

/* add top padding to photo div */
.photodiv{
  padding-top:5px;
}

/* adding buffers to each profile */
.teammember{
  padding: 15px 0px;
}

/* setting a uniform width for photos */
.teamphoto{
  width: 90%;
}

/* || TIMELINE.html || */
/* adding margin to the timeline and text */
#timeline, .timeline-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bar {
  fill: #5CBDCA;
}

.avgLine {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis, #ylabel {
  font-size: 0.35em;
}

/* Text Related Stuff */
.milestone {
  stroke: lightgray;
  stroke-width: 1;
}

.milestone-text {
  font-size: 0.35em;
  font-weight: 300;
}

.rect {
  fill: #e6e9eb;
}

.rect-text {
  font-size: 0.5em;
  font-weight: 400;
}

.end {
  text-anchor: end;
}

/* || STORYMAP.html || */
#storymappage h1{
  font-size: 24pt;
}
#storymappage h2{
  font-size: 20pt;
}
#storymappage h3{
  font-size: 16pt;
}
#storymappage .light p{
  font-size: 12pt;
}
.scrollybody {
  margin:0; 
  padding:0; 
  font-family: sans-serif;
}
#storymappage .scrollylink a, a:hover, a:visited {
  color: #0071bc;
}
#scrollymap {
  top:0; 
  height: 100vh;
  width:100vw;
  position: fixed;
  z-index: -5;
}
#scrollyheader {
  margin: 3vh auto;
  width: 90vw;
  padding: 2vh;
  text-align: center;
}
#scrollyfooter {
  width: 100%;
  min-height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}
#scrollyfeatures {
  padding-top: 10vh;
  padding-bottom: 10vh;
  z-index: 100;
}
.scrollycentered {
  width: 50vw;
  margin: 0 auto;
}
.scrollylefty {
  width: 33vw;
  margin-left: 5vw;
}
.scrollyrighty {
  width: 33vw;
  margin-left: 62vw;
}
.light {
  color: #444;
  background-color: #fafafa;
}
.scrollydark {
  color: #fafafa;
  background-color: #444;
}
.step {
  margin-bottom: 50vh;
  /* margin-bottom: 10vh; */
  opacity: 0.25;
  border: 1px solid lightgray;
}
.step.active {
  opacity: 0.9;
}

.step div {
  padding:  25px 50px;
  line-height: 25px;
  font-size: 13px;
}

.step img {
  width: 100%;
}

.scrollymodal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid lightgray;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.scrollymodalheader{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: red;
}
.scrollyclose{
  padding: 10px;
  color: white;
  cursor: pointer;
}
.scrollymodalcontents{
  background-color:white;
  margin: 5px;
}
.scrollymodalcontents p{
  text-align: center;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 10pt;
}

@media (max-width: 750px) {
  #scrollyfeatures {
      width: 90vw;
      margin: 0 auto;
  }
}

/* ||MISYMPTOMS.html|| */
/* remove col paddings */
.mainitems, .msmap, .msslider, .gettingnumbers, .leftsections, .rightsections, .numberstell, .numbersdonttell, .mimapcontrols .col-sm-12{
  padding: 0px;
  margin: 0px;
}
/* add padding back to left section */
.leftsections{
  padding-right: 10px;
}
/* add padding back to right section */
.rightsections{
  padding-left: 10px;
}
/* adding buffer to map */
.misymptomsmap{
  padding-bottom: 10px;
}
/* adding padding to map and buttons */
.mimapcontrols{
  padding: 10px 0px;
}

/* adding more padding between the text sections */
.wherearewe{
  padding-bottom: 15px;
}

/* styling the slider radios*/
.miradios{
  padding: 0px;
  padding-bottom: 10px;
}

/* || media rules || */
@media (max-width: 576px){
  .CPtotals{
    margin:0;
    padding: 0;
    padding-top: 10px;
  }
  .cumulativevis, .goaltext, .whatcanwelearn, .covidlearn{
    padding: 0;
    margin: 0;
  }
  .leftsections, .rightsections{
    padding: 0px;
  }
}

@media screen and (max-width: 624px) {
    #website-nav {padding-left: 64px;}
}